<div class="input-group foreign" id="{{fk.name}}_group">
    <span class="input-group-addon" id="{{fk.name}}_button" ng-click="fk.chooseOne()">
        <span class="glyphicon glyphicon-search">
        </span>
    </span>                                        
    <input type="text" 
           ng-model-options="{debounce: 1000}" 
           ng-model="fk.bean.id"
           ng-change="fk.change(fk.bean.id)"
           validatemin="0" 
           ng-required="{{fk.required}}"  
           aria-describedby="basic-addon2" 
           class="form-control" 
           id="{{fk.name}}" 
           name="{{fk.name}}"
           size="5" 
           maxlength="5">                                        
    <span class="input-group-addon">
        <span>{{fk.desc}}</span>
    </span> 
</div>
        
